<ul>
  <li
    *ngFor="let item of items; let i = index"
    [ngClass]="['todo-item', item[1] ? 'completed' : '']"
  >
    <span [ngClass]="'checkbox'" (click)="handleCheckboxClick(i)">{{
      item[1] ? "X" : ""
    }}</span>
    <div>
      <span [ngClass]="'text'">{{ item[0] }}</span>
    </div>
    <button (click)="handleDeleteClick(i)">Delete</button>
  </li>

  <li *ngIf="creating">
    <form (submit)="handleAdd($event)">
      <input type="text" name="title" />
      <button type="submit">Add</button>
    </form>
  </li>

  <li><button (click)="creating = true">Add new item</button></li>
</ul>
