$checkboxSize: 1rem;

:host {
    display: flex;
}

ul {
    list-style: none;
    padding-left: 0;
}

.todo-item {
    position: relative;
    padding-left: 0;

    display: grid;
    grid-template-columns: 1rem 1fr auto;
    grid-template-rows: 1fr;
    grid-column-gap: 0.5rem;
    min-width: 15rem;

    &.completed .text::after {
        position: absolute;
        content: '';
        width: 100%;
        height: 2px;
        top: 50%;
        left: 0;
        background-color: #333;
    }
}

.checkbox {
    display: inline-block;
    width: $checkboxSize;
    height: $checkboxSize;
    border: 1px solid #000;
    cursor: pointer;
}

.text {
    position: relative;
    display: inline;
}