<div>
  <div>
    <span>Filter</span>
    <input [(ngModel)]="filter" />
  </div>
  <app-todo-list [items]="filteredItems" (created)="handleItemCreate($event)" (deleted)="handleItemDelete($event)" (updated)="handleItemUpdate($event)" />
</div>

<router-outlet></router-outlet>
